<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>YOUR_SUPABASE_URL_HERE</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>YOUR_SUPABASE_ANON_KEY_HERE</string>
	<key>GOLF_API_BASE_URL</key>
	<string>YOUR_GOLF_API_BASE_URL_HERE</string>
	<key>ENVIRONMENT</key>
	<string>development</string>
</dict>
</plist> 